In [4]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.naive_bayes import MultinomialNB,GaussianNB

In [2]:
data = pd.read_csv('/content/Dataset3.csv')
data

   Outlook Temp Wind  Humidity  Class
0        R    H    F         1      0
1        R    H    T         2      0
2        O    H    F         1      1
3        R    M    F         1      1
4        S    C    F         1      1
5        O    C    T         0      0
6        O    C    T         1      1
7        R    M    F         1      0
8        O    C    F         0      1
9        S    M    F         2      1
10       R    C    T         2      0
11       O    M    T         0      1
12       O    H    F         1      1
13       S    M    T         1      0

In [5]:
le = preprocessing.LabelEncoder()
outlook_encoded = le.fit_transform(data['Outlook'])
print("Outlook_Encoded::",outlook_encoded)

Outlook_Encoded:: [1 1 0 1 2 0 0 1 0 2 1 0 0 2]

In [7]:
temp_encoded = le.fit_transform(data['Temp'])
print("Temp_Encoded::",temp_encoded)

Temp_Encoded:: [1 1 1 2 0 0 0 2 0 2 0 2 1 2]

In [6]:
humidity_encoded = le.fit_transform(data['Humidity'])
print("Humdity_Encoded::",humidity_encoded)

Humdity_Encoded:: [1 2 1 1 1 0 1 1 0 2 2 0 1 1]

In [8]:
wind_encoded = le.fit_transform(data['Wind'])
print("Wind_Encoded::",wind_encoded)

Wind_Encoded:: [0 1 0 0 0 1 1 0 0 0 1 1 0 1]

In [9]:
features = tuple(zip(outlook_encoded,temp_encoded,wind_encoded,humidity_encoded))
print("FEATURES::",features)

FEATURES:: ((1, 1, 0, 1), (1, 1, 1, 2), (0, 1, 0, 1), (1, 2, 0, 1), (2, 0, 0, 1), (0, 0, 1, 0), (0, 0, 1, 1), (1, 2, 0, 1), (0, 0, 0, 0), (2, 2, 0, 2), (1, 0, 1, 2), (0, 2, 1, 0), (0, 1, 0, 1), (2, 2, 1, 1))

In [10]:
labels = le.fit_transform(data['Class'])
print("LABELS::",labels)

LABELS:: [0 0 1 1 1 0 1 0 1 1 0 1 1 0]

In [11]:
from sklearn.model_selection import train_test_split
train_dataX,test_dataX = train_test_split(features,test_size = 0.05,random_state = 10)
print("TRAINING EXAMPLES::",train_dataX)
print("TESTING EXAMPLES::",test_dataX)

trainY,testY = train_test_split(labels,test_size = 0.05,random_state = 10)
print("TRAIN_Y::",trainY)
print("TEST_Y::",testY)

TRAINING EXAMPLES:: [(1, 2, 0, 1), (0, 1, 0, 1), (0, 0, 1, 1), (0, 0, 0, 0), (0, 1, 0, 1), (1, 0, 1, 2), (0, 0, 1, 0), (0, 2, 1, 0), (2, 2, 1, 1), (1, 1, 1, 2), (1, 1, 0, 1), (2, 0, 0, 1), (2, 2, 0, 2)]
TESTING EXAMPLES:: [(1, 2, 0, 1)]
TRAIN_Y:: [0 1 1 1 1 0 0 1 0 0 0 1 1]
TEST_Y:: [1]

In [12]:
#Creating a classifier
model = MultinomialNB()
#training the classifier
model.fit(train_dataX,trainY)

MultinomialNB()

In [13]:
predicted= model.predict([[2,2,0,2]]) 
print("Predicted Value for :", predicted)

Predicted Value for : [1]

In [15]:
dayta = pd.read_csv('/content/data.csv')
dayta

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [16]:
df = pd.DataFrame(dayta)
df

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [17]:
dayta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [18]:
dayta.drop(['Unnamed: 32',], axis = 1)
dayta.diagnosis = [1 if each == "M" else 0 for each in dayta.diagnosis]

In [19]:
X = df.iloc[:, 1:31].values
Y = df.iloc[:, 31].values

In [20]:
print("Cancer data set dimensions : {}".format(df.shape))

Cancer data set dimensions : (569, 33)

In [21]:
df.isnull().sum()
df.isna().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder
labelencoder_Y = LabelEncoder()
Y = labelencoder_Y.fit_transform(Y)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.50, random_state = 0)

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [26]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB()

In [27]:
Y_pred = classifier.predict(X_test)

In [28]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
cm

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])